/Client/nbproject/private/
/Client/dist/
/Chat_Server/nbproject/private/
/Chat_Server/build/
/Chat_Server/dist/
/Client_1/nbproject/private/
/Chat_Client/nbproject/private/
/Chat_Client/build/
/Chat-Server/nbproject/private/
/ChatServer/nbproject/private/
/ChatClient/nbproject/private/
/ChatClient/build/
/ChatClient/dist/
/ChatServer/dist/
/InfoHangoutManager/nbproject/private/
/InfoHangoutManager/build/
/JDBCExample/nbproject/private/
/JDBCExample/build/
/Scheduler/dist/